name: Run all D Tests
on: [push, pull_request]

jobs:
  test:
    name: Dub Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]
        dc: [dmd-2.085, ldc]
        
        # You have to exclude gdc configurations from non-linux OSes

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install D compiler
        uses: dlang-community/setup-dlang@v2
        with:
          compiler: ${{ matrix.dc }}
          dub: latest

      - name: Run tests
        shell: bash
        run: dub -q test
